*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  color:  #D1d3d4;
  font-family: 'Open Sans', sans-serif;

}

html {
  font-size: 20px;
}

body {
  margin: 0;
  height: 100vh;
}

header {
  margin: 0;
  height: 50%;
  background-color: #E5F3F2;
}

h1 {
  width: 60%;
  margin: auto;
  color: #00A79D;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  font-size: 1.5rem;
  padding-top: 0.5rem; 

}

h1 span {
  margin: -2;
  color: #6D6E71;
}

article {
  margin: auto;
  width: 80%;
  height: 40%;
  border-bottom: 3px solid #d1d3d4;
}

h2 {
  display: inline-block;
  color: #6D6E71;
  font-size: 1rem;
}

h4 {
  font-size: 0.9rem;
  margin-left: 2rem;
  display: inline-block;
}

h4 span {
  color: #6D6E71;
}


p {
  color: #939598;
  position: relative;
  bottom: 1.5rem;
  font-size: 0.8rem;
}

button {
  display: inline-block;
}

input::placeholder {
  margin: 0;
  padding-left: 0.5rem;
  color: #BDBEC0;
  vertical-align: top;
}

.user-content::placeholder{
  position: relative;
  bottom: 30%;
}

.article-header {
  background-color: #FFFFFF;
  position: relative;
  margin: 0;
  width: 100%;
}

.upvote-btn,
.downvote-btn,
.delete-btn {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border-style: none;
  background-repeat: no-repeat;
  background-size: cover;
}

.delete-btn {
  display: inline-block;
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  background-image: url(images/idea-icons/delete.svg);
}

.delete-btn:hover {
  background-image: url(images/idea-icons/delete-hover.svg);
}

.upvote-btn {
  background-image: url(images/idea-icons/upvote.svg);
}

.upvote-btn:hover {
  background-image: url(images/idea-icons/upvote-hover.svg);
}

.downvote-btn { 
  background-image: url(images/idea-icons/downvote.svg);
}

.downvote-btn:hover {
  background-image: url(images/idea-icons/downvote-hover.svg);  
}
.save-btn {
  position: relative;
  left: 1.2rem;
  border-radius: 0%;
  width: 85%;
  height: 1.5rem;
  color: #FFFFFF;
  background-color: #00A79D;
  font-size: 0.8rem;
}

.save-btn:hover {
  background-color: #045E55;
}

.missing-input-text {
    position: relative;
    top: 0.2rem;
    margin: auto;
    font-size: .6rem;
    text-align: center;
    width: 85%;
    height: 1.5rem;
    background-color: #E5F3F2;
    border-style: none;
}

#title,
#content,
#search {
  display: block;
  border: solid 1.5px #d1d3d4;
  width: 85%;
  margin: 0.5rem auto;
  color:  #D1d3d4;
  font-weight: bold;
  font-size: 0.8rem;  
}


#title {
  height: 1.6rem;
}

#content {
  height: 4rem
}

#search {
  width: 80%;
  margin-top: 1rem;
}

.hidden {
  display: none;
}

@media screen and (min-width: 400px) {
  header {
    height: 38%;
    text-align: center;
  }

  .save-btn {
    margin-right: 9%;
    width: 80%;
  }

  #content {
    height: 4rem;
  }

  .article-header {
    text-align: left;
  }

  .missing-input-text {
    font-size: 0.7rem;
  }
  
  #title,
  #content,
  #search {
    width: 80%;
  }

@media screen and (min-width: 500px) {
  header {
    height: 38%;
    text-align: center;
  }

  .save-btn {
    margin-right: 7%;
    width: 80%;
  }

  #content {
    height: 4rem;
  }

  .missing-input-text {
    font-size: 0.7rem;
  }
  
  #title,
  #content,
  #search {
    width: 80%;
  }

  article {
    width: 80%;
  }

  .article-header {
    font-size: .9rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 600px) {
  header {
    height: 38%;
    text-align: center;
  }

  .save-btn {
    margin-right: 7%;
    width: 40%;
  }
  
  #title,
  #content,
  #search {
    width: 40%;
  }

  article {
    width: 40%;
  }

  .article-header {
    font-size: .9rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 700px) {
  header {
    height: 38%;
    text-align: center;
  }

  .save-btn {
    margin-right: 6%;
    width: 40%;
  }
  
  #title,
  #content,
  #search {
    width: 40%;
  }

  article {
    width: 40%;
  }

  .article-header {
    font-size: .9rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 800px) {
  header {
    height: 38%;
    text-align: center;
  }

  .save-btn {
    margin-right: 5%;
    width: 40.2%;
  }
  
  #title,
  #content,
  #search {
    width: 40%;
  }

  article {
    width: 40%;
  }

  .article-header {
    font-size: .9rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
  }
}


@media screen and (min-width: 900px) {
  header {
    height: 38%;
    text-align: center;
  }

  .save-btn {
    margin-right: 5%;
    width: 40%;
  }
  
  #title,
  #content,
  #search {
    width: 40%;
  }

  article {
    width: 40%;
  }

  .article-header {
    font-size: .9rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
  }
}


@media screen and (min-width: 1000px) {
  header {
    height: 38%;
    text-align: center;
  }

  .save-btn {
    margin-right: 4%;
    width: 40%;
  }
  
  #title,
  #content,
  #search {
    width: 40%;
  }

  article {
    width: 40%;
  }

  .article-header {
    font-size: .9rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
  }
}


@media screen and (min-width: 1100px) {
  header {
    height: 38%;
    text-align: center;
  }

  .save-btn {
    margin-right: 4%;
    width: 40.1%;
  }
  
  #title,
  #content,
  #search {
    width: 40%;
  }

  article {
    width: 40%;
  }

  .article-header {
    font-size: .9rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
  }
}


@media screen and (min-width: 1200px) {
  header {
    height: 38%;
  }
  header {
    height: 38%;
    text-align: center;
  }

  .save-btn {
    margin-right: 3.4%;
    width: 40.1%;
  }
  
  #title,
  #content,
  #search {
    width: 40%;
  }

  article {
    width: 40%;
  }

  .article-header {
    font-size: .9rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
  }
}


@media screen and (min-width: 1300px) {
  header {
    height: 38%;
    text-align: center;
  }

  .save-btn {
    margin-right: 3.4%;
    width: 40.1%;
  }
  
  #title,
  #content,
  #search {
    width: 40%;
  }

  article {
    width: 40%;
  }

  .article-header {
    font-size: .9rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
  }
}


@media screen and (min-width: 1400px) {
  header {
    height: 46%;
  }

  article {
    width: 45%;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  .save-btn {
    width: 45%;
    height: 2.2rem;
    margin-left: 0%;
  }

  .delete-btn {
    position: absolute;
    top: 1.9rem;
    right: 0;
  }

  #title,
  #content,
  #search {
    width: 45%;
    height: 2rem;
    margin-bottom: 1.3rem;
  }

  .missing-input-text {
    font-size: 1rem;
  }
}